h1 {
    text-align: center;
    background-color: lightgoldenrodyellow;
    box-shadow: 12px 12px 2px 1px rgb(214, 214, 214);
}

h2 {
    text-align: center;
    background-color: lightgoldenrodyellow;
    box-shadow: 12px 12px 2px 1px rgb(214, 214, 214);
}

.list {
    text-align: center;
    background-color: lightgoldenrodyellow;
    width: 15%;
}

.footer {
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    text-align: center;
}

.wrapper {
    min-height: 100%; 
    margin-bottom: -50px; 
}

.content{
    padding-bottom: 50px;
}

a {
    color: black;
    text-decoration: none;
}